/* 메인 콘텐트 */
#main_content {
  position: relative;
  width: 1400px;
  height: 800px;
}

/* 가입 양식 폼 */
#main_content {
  max-width: 1200px;
  margin: auto;
  background: #FFF;
}
#join_box{
  display: block;
}

/* body {
  color: lightslategrey;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 800px;
}

a {
  color: coral;
}

#main_content {
  height: 600px;
}

#divButton {
  margin: auto;
  width: 820px;
  padding-top: 20px;
}

em {
  font-size: 15px;
} */
